@model DoctorViewModel
@{
    ViewData["Title"] = "Prescription Page";
}

<a asp-controller="Prescription" asp-action="Add" class="btn btn-success">Go to add</a>
<form asp-controller="Prescription" asp-action="Index" asp-route-doctorId="@Model.Id">
    <input type="text" name="FilterString" />
    <button type="submit" class="btn btn-success">Filter</button>
</form>
<div>
    Doctor's data: <br />
    First name: @Model.FirstName <br/>
    Last name: @Model.LastName
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created Date</th>
                <th scope="col">Owner</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prescription in Model.Prescriptions)
            {
            <tr>
                <th scope="row">@(prescription.Id)</th>
                <td>@prescription.Name</td>
                <td>@prescription.CreatedDate</td>
                <td>@Model.FirstName @Model.LastName</td>
                <td>
                    <a asp-area="" asp-controller="Prescription" asp-action="View" asp-route-prescriptionId="@prescription.Id">View</a> 
                    | 
                    <a asp-area="" asp-controller="Prescription" asp-action="Delete" asp-route-prescriptionId="@prescription.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
