@model List<DoctorViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Home" asp-action="Add" class="btn btn-success">Go to add</a>
<form asp-controller="Home" asp-action="Index">
    <input type="text" name="FilterString" />
    <button type="submit" class="btn btn-success">Filter</button>
</form>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Phone number</th>
                <th scope="col">Work years</th>
                <th scope="col">Is able to make prescriptions</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <th scope="row">@(doctor.Id)</th>
                    <td>@doctor.FirstName</td>
                    <td>@doctor.LastName</td>
                    <td>@doctor.PhoneNumber</td>
                    <td>@doctor.WorkYears</td>
                    <td>@doctor.IsAbleToMakePrescription</td>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="View" asp-route-doctorId="@doctor.Id">View</a>
                        |
                        <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-doctorId="@doctor.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>